{% extends 'base.html.twig' %}

{% block title 'Creat Pin' %}

{% block body %}
    <div class="container">
        <h1>Create New pin</h1>
        {{ include ("pins/partials/_form.html.twig", {'submitButtonText' : 'Create pin'}) }}
    </div>
{% endblock %}
