{% extends 'base.html.twig' %}

{% block title %}Home | Pinterest Clone{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="h1">Pin with id {{ pin.id }}</h1>

        <div class="row justify-content-around">
        <div class="card col-lg-6 col-sm-10">
            <img src="http://placekitten.com/800/800" class="card-img-top" alt="img">
            <div class="card-body">
                <h5 class="card-title">{{ pin.Title }}</h5>
                <p class="card-text">{{ pin.Description }}</p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
