{% extends 'base.html.twig' %}

{% block title '404' %}

{% block body %}
    <div class="container">
        <h1>Error 404</h1>
        <h2 class="small">Page not found <a href="{{ path('index') }}">Home page</a></h2>
    </div>
{% endblock %}
